echo "# Domik94" >> README.md 
git init 
git add README.md 
git commit -m "первая фиксация" 
git Branch -M main 
git удаленное добавление источника https://github.com/Domik94/Domik94.git
 git push - ты родной, главный
